--
-- PostgreSQL database dump
--

-- Dumped from database version 15.5
-- Dumped by pg_dump version 15.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ADStatistics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ADStatistics" (
    "ID" integer NOT NULL,
    "VIEWS" integer NOT NULL,
    "CLICKS" integer NOT NULL
);


ALTER TABLE public."ADStatistics" OWNER TO postgres;

--
-- Name: ADStatistics_ID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."ADStatistics" ALTER COLUMN "ID" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ADStatistics_ID_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Advertisements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Advertisements" (
    "ID" integer NOT NULL,
    "URL" text,
    "LINK" text,
    "SITEID" integer
);


ALTER TABLE public."Advertisements" OWNER TO postgres;

--
-- Name: Advertisements_ID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Advertisements" ALTER COLUMN "ID" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Advertisements_ID_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AuthInfo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuthInfo" (
    "ID" integer NOT NULL,
    username text,
    age integer NOT NULL
);


ALTER TABLE public."AuthInfo" OWNER TO postgres;

--
-- Name: AuthInfo_ID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AuthInfo" ALTER COLUMN "ID" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AuthInfo_ID_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: ADStatistics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ADStatistics" ("ID", "VIEWS", "CLICKS") FROM stdin;
0	1	1
1	1	1
\.


--
-- Data for Name: Advertisements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Advertisements" ("ID", "URL", "LINK", "SITEID") FROM stdin;
0	samsungLogo.png	https://samsung.com/en	0
1	astonMartinLogo.jpg	https://www.astonmartin.com/en/	0
\.


--
-- Data for Name: AuthInfo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AuthInfo" ("ID", username, age) FROM stdin;
1	Leonidas	28
2	Leonidas	28
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20240108174930_PostUsers	8.0.0
20240202094529_Localization	8.0.1
\.


--
-- Name: ADStatistics_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."ADStatistics_ID_seq"', 1, false);


--
-- Name: Advertisements_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Advertisements_ID_seq"', 1, false);


--
-- Name: AuthInfo_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AuthInfo_ID_seq"', 1, false);


--
-- Name: ADStatistics PK_ADStatistics; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ADStatistics"
    ADD CONSTRAINT "PK_ADStatistics" PRIMARY KEY ("ID");


--
-- Name: Advertisements PK_Advertisements; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Advertisements"
    ADD CONSTRAINT "PK_Advertisements" PRIMARY KEY ("ID");


--
-- Name: AuthInfo PK_AuthInfo; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuthInfo"
    ADD CONSTRAINT "PK_AuthInfo" PRIMARY KEY ("ID");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- PostgreSQL database dump complete
--

